/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */

.txt-lt {
    text-align: left;
}

/* text align left */

.txt-center {
    text-align: center;
}

/* text align center */

.float-rt {
    float: right;
}

/* float right */

.float-lt {
    float: left;
}

/* float left */

.clear {
    clear: both;
}

/* clear float */

.pos-relative {
    position: relative;
}

/* Position Relative */

.pos-absolute {
    position: absolute;
}

/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}

/* vertical align top */

nav.vertical ul li {
    display: block;
}

/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */

img {
    max-width: 100%;
}

/*end reset*/

body {
    background: url(../images/bg.jpg)no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

/*--header--*/

h1 {
    font-size: 3.5em;
    color: #fff;
    font-style: italic;
    letter-spacing: 5px;
    text-align: center;
    margin: 1.5vw 2vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
}

h1 span {
    color: #3eb060;
}

/*--//header--*/

/*-- content --*/

.sub-main-w3 {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

h2 {
    font-size: 2vw;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1vw;
}

.sub-main-w3 form {
    max-width: 41%;
    margin: 0 5vw;
    padding: 3.5vw;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-wrap: wrap;
    background: rgba(20, 21, 20, 0.32);
}

.form-style-agile {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}

.sub-main-w3 label {
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: inline-block;
}

.form-style-agile input[type="text"],
.form-style-agile input[type="email"],
select.category,
.form-style-agile textarea {
    outline: none;
    font-size: 14px;
    border: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    padding: 12px 15px;
    background: #fff;
    margin-bottom: 16px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #3eb060;
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.08);
}

select option {
    background: #fff;
    color: #000;
}

.form-style-agile textarea {
    resize: none;
    height: 8em;
}

.sub-main-w3 input[type="submit"] {
    color: #fff;
    background: #3eb060;
    border: none;
    padding: 13px 0;
    margin-top: 30px;
    outline: none;
    width: 40%;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.sub-main-w3 input[type="submit"]:hover {
    color: #3eb060;
    background: #fff;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/*--placeholder-color--*/

::-webkit-input-placeholder {
    color: #000;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

/*--//placeholder-color--*/

/*--//main--*/

/*--footer--*/

.footer {
    margin: 1.4vw .3vw;
}

.footer p {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.8;
}

.footer p a {
    color: #3eb060;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.footer p a:hover {
    color: #fff;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/*--//footer--*/

/*--responsive--*/
@media(max-width: 1920px) {
    h1 {
        font-size: 3.5vw;
    }
}
@media(max-width: 1366px) {
    .sub-main-w3 input[type="submit"] {
        width: 50%;
    }
}

@media(max-width: 1080px) {
    .sub-main-w3 form {
        max-width: 54%;
    }
    h1 {
        font-size: 5vw;
    }
}

@media(max-width: 1024px) {
    h2 {
        font-size: 3vw;
    }
}

@media(max-width: 900px) {
    .sub-main-w3 form {
        max-width: 70%;
    }
    .sub-main-w3 {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}

@media(max-width: 768px) {
    h1 {
        font-size: 6vw;
    }
    .sub-main-w3 form {
        max-width: 80%;
    }
}

@media(max-width: 667px) {
    h2 {
        font-size: 4vw;
    }
    h2 {
        margin-bottom: 3vw;
    }
}

@media(max-width: 640px) {
    .footer p {
        font-size: 14px;
        letter-spacing: 1px;
    }
}

@media(max-width: 600px) {
    h1 {
        font-size: 7vw;
        letter-spacing: 2px;
        margin: 1.5vw 2vw 2vw;
    }
    .sub-main-w3 form {
        max-width: 90%;
    }
    .sub-main-w3 input[type="submit"] {
        width: 42%;
        font-size: 15px;
    }
}

@media(max-width: 480px) {
    .form-style-agile input[type="text"],
    .form-style-agile input[type="email"],
    select.category,
    .form-style-agile textarea {
        font-size: 13px;
        padding: 11px 12px;
        margin-bottom: 15px;
    }
    .sub-main-w3 input[type="submit"] {
        width: 52%;
        font-size: 15px;
        padding: 13px 0;
        margin-top: 16px;
    }
}

@media(max-width: 414px) {
    .sub-main-w3 form {
        max-width: 100%;
    }
    h1 {
        font-size: 7.5vw;
    }
    .footer p {
        font-size: 13px;
    }
    .sub-main-w3 input[type="submit"] {
        width: 60%;
    }
    h2 {
        font-size: 4.5vw;
    }
}

@media(max-width: 320px) {
    .form-style-agile input[type="text"],
    .form-style-agile input[type="email"],
    select.category,
    .form-style-agile textarea {
        font-size: 12px;
        padding: 11px 11px;
        margin-bottom: 12px;
    }
    h1 {
        font-size: 7.8vw;
        letter-spacing: 1px;
    }
    .sub-main-w3 input[type="submit"] {
        width: 68%;
        font-size: 14px;
        padding: 12px 0;
        margin-top: 10px;
    }
    .footer p {
        font-size: 12px;
    }
}

/*--//responsive--*/