 <div ng-controller="loginbuttonctrl">

      <div class="row"></div>
      <div class="row">
      <div class="col-sm-1"></div><div class="col-sm-11"><h2>LoginMenu</h2></div>
      </div>

      <div class ="well"><div class="col-sm-2"></div><div class = "col-sm-8"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="admin()">Login as Admin</button></div><div class = "col-sm-2"></div></div>

      <div class ="well"><div class="col-sm-2"></div><div class = "col-sm-8"><button type="button" class="btn btn-primary btn-lg btn-block"  ng-click="farmshop()">Farm Shop</button></div><div class = "col-sm-2"></div></div>

      <div class ="well"><div class="col-sm-2"></div><div class = "col-sm-8"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="economycenter()">Economy Centers</button></div><div class = "col-sm-2"></div></div>

      <div class ="well"><div class="col-sm-2"></div><div class = "col-sm-8"><button type="button" class="btn btn-primary btn-lg btn-block"  ng-click="registeredfarmer()">Registered Farmers</button></div><div class = "col-sm-2"></div></div>

      <div class ="well"><div class="col-sm-2"></div><div class = "col-sm-8"><button type="button" class="btn btn-primary btn-lg btn-block"  ng-click="registeredshop()">Registered Shops</button></div><div class = "col-sm-2"></div></div>
      <div class ="well"></div>

</div>



  
