<style>
.well {
       
    padding: 8px;
    }

 .row{
 	padding: 4px;
 }

</style>

<div ng-controller="Admincontroller">
<h1>Hi admin </h1>
<div class="container">
	<div class="row">
		<div class ="col-sm-10"></div>
		<div class="col-sm-2">
			<div class="btn-group">
  			<button type="button" class="btn btn-danger glyphicon ">Register</button>
  			<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    		<span class="caret"></span>
    		<span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a ng-click="adminReg()">Admin</a></li>
			    <li class="divider"></li>
			    <li><a ng-click="cashierReg()">Employee</a></li>
			  </ul>
			</div>
		
	        
		
	   </div>
	

	<div class="row"><div class="col-lg-3"><div class="well"><span class="glyphicon glyphicon-shopping-cart"></span><b><i>Farm Shop</i></b></div></div></div>
	<div class = "row">
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Loading Items</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">View Shop Details</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block" ng-click = "addItems()">Edit Items Details</button></div>
	</div>

	<div class="row"><div class="col-sm-3"><div class="well"><b><i>Farm Stores</i></b></div></div></div>
	<div class = "row">
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Loading Farm product</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Loading Registered Farmer product</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">View Stores Details</button></div>
	</div>

	

	<div class="row"><div class="col-sm-3"><div class="well"><b><i>Registered Farmers</i></b></div></div></div>
	<div class = "row">
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Registation</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">View Registered Farmers</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Purchasing</button></div>
	</div>

	<div class="row"><div class="col-sm-3"><div class="well"><b><i>Registered Shop</i></b></div></div></div>
	<div class = "row">
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Registation</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">View Registered Shop</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Online Purchasing Details</button></div>
	</div>

	<div class="row"><div class="col-sm-3"><div class="well"><b><i>Courses</i></b></div></div></div>
	<div class = "row">
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Add Courses</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Course Details</button></div>
	</div>

	<div class="row"><div class="col-sm-6"><div class="well"><b><i>Temperature & Humidity of Greenhouses </i></b></div></div></div>
	<div class = "row">
		<div class="col-sm-2"><button type="button" class="btn btn-primary btn-block"><center>A</center></button></div>
		<div class="col-sm-2"><button type="button" class="btn btn-primary btn-block"><center>B</center></button></div>
		<div class="col-sm-2"><button type="button" class="btn btn-primary btn-block"><center>C</center></button></div>
		<div class="col-sm-2"><button type="button" class="btn btn-primary btn-block"><center>D</center></button></div>
		<div class="col-sm-2"><button type="button" class="btn btn-primary btn-block"><center>E</center></button></div>
		
	</div>

	<div class="row"><div class="col-sm-3"><div class="well"><b><i>Report</i></b></div></div></div>
	<div class = "row">
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Reports</button></div>
		
	</div>

</div>

</div>



