 <head>
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <script src="jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
          
            <script src="angular.min.js"></script>
            <script src="angular-route.js"></script>
            <script src ="controller.js"></script> 
</head>



 <div ng-controller="loginbuttonctrl">

      <center>
      <div class ="well"><div class="col-lg-4"></div><div class = "col-lg-4"><button type="button" class="btn btn-warning btn-lg btn-block" ng-click="admin()"><span class="glyphicon glyphicon-user"></span> Admin</button></div><div class = "col-sm-4"></div></div>

      <div class ="well"><div class="col-lg-4"></div><div class = "col-lg-4"><button type="button" class="btn btn-primary btn-lg btn-block"  ng-click="farmshop()"><span class="glyphicon glyphicon-credit-card"></span> Farm Shop</button></div><div class = "col-sm-4"></div></div>
      
      



     
      <div class ="well"></div>

      </center>
      

</div>

<div>
<div class ="well">
<div class="col-lg-4"></div><div class = "col-lg-4"><a type="button" class="btn btn-active btn-lg btn-block" href="invoice.php"><span class="glyphicon glyphicon-shopping-cart"></span> Point of Sale</a></div><div class = "col-sm-4"></div></div>
</div>




  
