 <div ng-controller="loginbuttonctrl">

      <div class="row"></div>
      <div class="row">
      <div class="col-sm-1"></div><div class="col-sm-11"><h2>Login</h2></div>
      </div>

      <div class ="well"><div class="col-sm-3"></div><div class = "col-sm-6"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="admin()">Admin</button></div><div class = "col-sm-3"></div></div>

      <div class ="well"><div class="col-sm-3"></div><div class = "col-sm-6"><button type="button" class="btn btn-primary btn-lg btn-block"  ng-click="farmshop()">Farm Shop</button></div><div class = "col-sm-3"></div></div>

     
      <div class ="well"></div>

</div>



  
