<!DOCTYPE html>
<html lang="en">
<head>
    <title>labuduuwa Farm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .pricing-img {
        margin-bottom: 25px;
        max-width: 100%;
    }
    .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
    }
    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .navbar {
        margin-bottom: 0;
        background-color: #000000;
        z-index: 9999;
        border: 0;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        letter-spacing: 4px;
        border-radius: 0;
    }
    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
        color: #000000 !important;
        background-color: #fff !important;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #fff !important;
    }
    .dropbtn {
        background-color: #000000;
        color: #ffffff;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000000;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #534d53;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #8a848a;}

</style>
<body>
<div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="home.html">LABUDUWA FARM</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#services">SERVICES</a></li>
                            <li><a href="View_Course.html">COURSES</a></li>
                            <li><a href="pricing.html">PRICING</a></li>
                            <li><a href="contact.html">CONTACT</a></li>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="Registration.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                <li><div class="dropdown">
                                    <a><button class="dropbtn"><span class="glyphicon glyphicon-log-in"></span> Login</button></a>
                                    <div class="dropdown-content">
                                        <div ng-controller="loginbuttonctrl">
                                            <a ng-click="farmshop()"    href="FarmShopLoginForm.html" >Registered Shop</a>
                                            <a href="FarmShopLoginForm.html">Registered Farmer</a>
                                            <a ng-click="farmshop1()"    href="FarmShopLoginForm.html" >Student</a>
                                        </div>
                                    </div>
                                </div>
                                </li>
                                <!--li><a href="FarmShopLoginForm.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li-->
                            </ul>
                        </ul>
                    </div>
                </div>
        
            </nav>
    <div class="text-center"><br><br>
        <h2>Pricing</h2>
        <h4>Varieties of fruits</h4>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="frjuice.jpg" class="pricing-img" >
                    <h1>Fruit Juices</h1>
                </div>
                <div class="panel-body">
                    <p><strong></strong> </p>
                    <p><strong></strong> </p>
                    <p><strong></strong> </p>
                    <p><strong></strong> </p>
                    <p><strong></strong> </p>
                </div>
                <div class="panel-footer">
                    <h3>Rs 30.00</h3>
                    <h4></h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/papaya.jpg"class="pricing-img" >
                    <h1>Papaya</h1>
                </div>
                <div class="panel-body">
                    <p><strong></strong> </p>
                    <p><strong></strong> </p>
                    <p><strong></strong> </p>
                    <p><strong></strong> </p>
                    <p><strong></strong></p>
                </div>
                <div class="panel-footer">
                    <h3>$29</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/abul.jpg"class="pricing-img" >
                    <h1>Sour banana</h1>
                </div>
                <div class="panel-body">
                    <p><strong></strong> </p>
                    <p><strong></strong></p>
                    <p><strong></strong></p>
                    <p><strong></strong> </p>
                    <p><strong></strong></p>
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4></h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/Seeni.jpg"class="pricing-img" >
                    <h1>Premium</h1>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/ambon.png"class="pricing-img" >
                    <h1>Premium</h1>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/cavend.jpg"class="pricing-img" >
                    <h1>Premium</h1>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/rabutan.jpg"class="pricing-img" >
                    <h1>Premium</h1>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/paniido.jpg"class="pricing-img" >
                    <h1>Premium</h1>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/mangosteen1.jpg"class="pricing-img" >
                    <h1>Premium</h1>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/carmbanka.jpg"class="pricing-img" >
                    <h1>Premium</h1>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/Passiflora_Edulis1.jpg"class="pricing-img" >
                    <h1>Premium</h1>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/pineappple.webp"class="pricing-img" >
                    <h1>Premium</h1>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/lemon.jpg"class="pricing-img" >
                    <h1>Premium</h1>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img src="images/nelli1.jpg"class="pricing-img" >
                    <h1>Premium</h1>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>