<div ng-controller="AddCourseDetails">
<div class="container container-fluid">
 
    <div ng-controller="Admincontroller"> 
    <button class="btn btn-default" ng-click="showAdmin()">Back</button></div>
    
    <center><h2><b>Add Cources</b></h2></center>
    <hr>  

   
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 col-lg-8"> 

    <form method="POST"> 
    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Course ID</label>
        </div>
        <div class="col-xs-6">
        <!-- <label>First Name</label> -->
            <p class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
                <input type="text" class="form-control"  id="textinput" required name="textinput" 
                ng-model="Course_Id" placeholder="Course Id">             
            </p>
        </div>
    </div>

    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Course Name</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
            <input type="text" class="form-control" id="textinput" required name="textinput" 
            ng-model="Course_Name" placeholder="Course Name">             
        </p>
        </div>
    </div>

    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Course Type</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
                <select class="form-control" name="textinput" ng-model="Course_type">
                    <option value="parttime">Part Time</option>   
                    <option value="fulltime">Full Time</option> 
         
                </select>
        </p>
        </div>
    </div>

    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Course Duration</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <select class="form-control" name="textinput" ng-model="Course_duration">
                    <option value="6 month">6 Month</option>   
                    <option value="1 year">1 Year</option> 
                    <option value="2 year">2 Year</option> 
         
                </select>
        </p>
        </div>
    </div>


    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Description</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                <input type="textarea" class="form-control" id="textinput" required name="textinput" 
                ng-model="Course_description" placeholder="description" required="required">             
            </p>
        </div> 
    </div>

    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Course Fees</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                <input type="text" class="form-control" id="textinput" required name="textinput" 
                ng-model="Course_fees" placeholder="Course Fees" required="required">             
            </p>
        </div> 
    </div>

    <div class="form-group row flex-v-center">
            <div class="col-xs-2 col-sm-4">
                <label for="from">Course Locations</label>
            </div>
            <div class="col-xs-6">
            <p class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                    <input type="text" class="form-control" id="textinput" required name="textinput" 
                    ng-model="location" placeholder="Course Locations(ex:Galle,Colombo,Matara)" required="required">             
                </p>
            </div> 
        </div>

    <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
        <button type="submit" name="registration" class="btn btn-warning login-btn btn-block" 
        ng-click="addCourse()">Add Course 
        <span class="glyphicon glyphicon-send"></span></button>
        </div><div class="col-sm-4"><input type="reset" class="btn btn-danger" value="clear"></div>
    </div>
    </div> 
    </form>
</div>
</div>
</div>
    