<style>
.well {
       
    padding: 8px;
    }

 .row{
 	padding: 4px;
 }

</style>

<div ng-controller="Admincontroller">
<div class="container container-fluid"><h1>Hi admin <span class="glyphicon glyphicon-user"></h1>
<div class="container">
		<div class ="col-sm-10"></div>
		<div class="col-sm-2">
			<div class="btn-group">
  			<button type="button" class="btn btn-danger glyphicon glyphicon-eye-open" ng-click="cashierReg()"> Register</button>
  			<button type="button" class="btn btn-danger dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					
    		<span class="caret"></span>
    		<span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuLink">
			    <li><a ng-click="adminReg()">Admin</a></li>
			    <li class="divider"></li>
			    <li><a ng-click="cashierReg()">Employee</a></li>
			  </ul>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
	
	<div class="col-lg-3"><div class="well"><span class="glyphicon glyphicon-shopping-cart"></span><b><i>Farm Shop</i></b></div></div>

		<div class="col-lg-3"><button type="button" class="btn btn-primary btn-block">Loading Items</button></div>
		<div class="col-lg-3"><button type="button" class="btn btn-primary btn-block">View Shop Details</button></div>
		<div class="col-lg-3"><button type="button" class="btn btn-primary btn-block" ng-click = "addItems()">Edit Items Details</button></div>
	<br/>
	</div>

	<div class="row">
	<div class="col-sm-3"><div class="well"><span class="glyphicon glyphicon-barcode"></span><b><i> Farm Stores</i></b></div></div>
		<div class="col-sm-3"><button type="button" class="btn btn-warning btn-block">Loading Farm product</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-warning btn-block">Loading Registered Farmer product</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-warning btn-block">View Stores Details</button></div>
	</div>

	

	<div class="row">
	<div class="col-sm-3"><div class="well"><span class="glyphicon glyphicon-pawn"></span><b><i> Registered Farmers</i></b></div></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Registation</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">View Registered Farmers</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Purchasing</button></div>
	</div>

	<div class="row">
		<div class="col-sm-3"><div class="well"><span class="glyphicon glyphicon-gift"></span><b><i> Registered Shop</i></b></div></div>
		<div class="col-sm-3"><button type="button" class="btn btn-warning btn-block">Registation</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-warning btn-block">View Registered Shop</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-warning btn-block">Online Purchasing Details</button></div>
	</div>

	<div class="row">
		<div class="col-sm-3"><div class="well"><span class="glyphicon glyphicon-book"></span><b><i> Courses</i></b></div></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Add Courses</button></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Course Details</button></div>
	</div>

	<div class="row">
		<div class="col-sm-6"><div class="well"><span class="glyphicon glyphicon-tent"></span><b><i> Temperature & Humidity of Greenhouses </i></b></div></div>
		<div class="col-sm-2"><a href = "https://sasadaramonker.000webhostapp.com/app/index.html"type="button"  class="btn btn-success btn-block"><center> A</center></a></div>
		<div class="col-sm-2"><a href = "https://sasadaramonker.000webhostapp.com/app/index.html"type="button"  class="btn btn-success btn-block"><center> B</center></a></div>
		<div class="col-sm-2"><a href = "https://sasadaramonker.000webhostapp.com/app/index.html"type="button"  class="btn btn-success btn-block"><center> C</center></a></div>
		<div class="col-sm-2"><a href = "https://sasadaramonker.000webhostapp.com/app/index.html"type="button"  class="btn btn-success btn-block"><center> D</center></a></div>
		<div class="col-sm-2"><a href = "https://sasadaramonker.000webhostapp.com/app/index.html"type="button"  class="btn btn-success btn-block"><center> E</center></a></div>
		
	</div>


	<div class="row">
		<div class="col-sm-3"><div class="well"><span class="glyphicon glyphicon-folder-close"></span><b><i> Vehicle</i></b></div></div>
		<div class="col-sm-3"><button type="button" class="btn btn-primary btn-block" ng-click="viewLocation()">Location</button></div>
		
	</div>

	<div class="row">
		<div class="col-sm-3"><div class="well"><span class="glyphicon glyphicon-folder-close"></span><b><i> Report</i></b></div></div>
		<div class="col-sm-3"><button type="button" class="btn btn-warning btn-block">Reports</button></div>
		
	</div>


	

</div>
</div>





