	<div class="container container-fluid">
	
	<form >
			<div class="well">
		<h2>Farmer Registration  form </h2>
		<hr>
	
		<div class="row">
				<div class="col-sm-2"></div><div class="col-sm-2">
				<label for="party">Registration Id: </label></div><div class="col-sm-5">
				<div class="input-group">
						<span class="input-group-addon" ><i class="glyphicon glyphicon-menu-right" ></i></span>
						<input id="text" type="text" class="form-control" name="text" placeholder="Enter Number">
					</div>
				</div><div class="col-sm-3"></div>
				</div>
				<br>

		<div class="row">
		<div class="col-sm-2"></div><div class="col-sm-2">
		<label for="party">Email: </label></div><div class="col-sm-5">
		<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				<input id="email" type="text" class="form-control" name="email" placeholder="Enter Email">
			</div>
		</div><div class="col-sm-3"></div>
		</div>
    <br>
		<div class="row">
				<div class="col-sm-2"></div><div class="col-sm-2">
				<label for="party">Full Name: </label></div><div class="col-sm-5">
				<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input id="text" type="text" class="form-control" name="name" placeholder="Enter Name">
					</div>
				</div><div class="col-sm-3"></div>
				</div>
				<br>

				<div class="row">
						<div class="col-sm-2"></div><div class="col-sm-2">
						<label for="party">Mobile Number: </label></div><div class="col-sm-5">
						<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
								<input id="text" type="text" class="form-control" name="Number" placeholder="Enter Number">
							</div>
						</div><div class="col-sm-3"></div>
						</div>
						<br>
				
				<div class="row">
						<div class="col-sm-2"></div><div class="col-sm-2">
						<label for="party">Nic: </label></div><div class="col-sm-5">
						<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-erase"></i></span>
								<input id="text" type="text" class="form-control" name="nic" placeholder="Enter Nic">
							</div>
						</div><div class="col-sm-3"></div>
						</div>
						<br>
		<div class="row">
				<div class="col-sm-2"></div><div class="col-sm-2">
				<label for="party">Occupation: </label></div><div class="col-sm-5">
				<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
						<input id="text" type="text" class="form-control" name="occ" placeholder="Enter Occupation">
					</div>
				</div><div class="col-sm-3"></div>
				</div>
				<br>
		
	<div class="row">
			<div class="col-sm-2"></div><div class="col-sm-3">
		<label for="party">Male/Female:
		<select name="Male" class="form-control" >
			<option>Male</option>
			<option>Female</option>
			
		</select>
<br>	

		
	
<div class="row">
		<div class="col-sm-2"></div><div class="col-sm-2">
		<label for="party">Occupation: </label></div><div class="col-sm-5">
		<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-record"></i></span>
				<input id="text" type="text" class="form-control" name="occ" placeholder="Enter Occupation">
			</div>
		</div><div class="col-sm-3"></div>
		</div>
		
			<br>
	
	</br>
	</br>
	
						<input type="submit" value="Submit Now" class="form-control" >
	
	</form>

</div>