<div ng-controller="AddfarmerDetails">
	<div class="container container-fluid">
	  <div class="well">
	  <div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4 col-lg-8"> 
		<div ng-controller="Admincontroller"> 
		<button class="btn btn-default" ng-click="showAdmin()">Back</button></div>
		<center><h2><b>New Farmer Registration</b></h2></center>
		<hr>  
	
		<form method="POST"> 
		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Registration ID</label>
			</div>
			<div class="col-xs-6">
			<!-- <label>First Name</label> -->
				<p class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control"   required name="textinput" 
					ng-model="Id" placeholder=" Id">             
				</p>
			</div>
		</div>
	
		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Name</label>
			</div>
			<div class="col-xs-6">
			<p class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
				<input type="text" class="form-control"  required name="textinput" 
				ng-model="First_Name" placeholder="Name">             
			</p>
			</div>
		</div>
	
		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Contact</label>
			</div>
			<div class="col-xs-6">
			<p class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
				<input type="text" class="form-control"  required name="textinput" 
				ng-model="Tele_Number" placeholder="Mobile/Tel">             
			</p>
			</div>
		</div>

		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Male/Female</label>
			</div>
			<div class="col-xs-3">
			<p class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
					<select class="form-control" name="textinput" ng-model="Gender">
						<option value="male">Male</option>   
						<option value="female">Female</option> 
			 
					</select>
			</p>
			</div>
		</div>
	
		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Email</label>
			</div>
			<div class="col-xs-6">
			<p class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					<input type="email" class="form-control"  required name="textinput" 
					ng-model="Email" placeholder="Email" required="required">             
				</p>
			</div> 
		</div>
	
	
		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Address</label>
			</div>
			<div class="col-xs-6">
			<p class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
					<input type="text" class="form-control"  required name="textinput" 
					ng-model="Address" placeholder="Address" required="required">             
				</p>
			</div> 
		</div>
	
		<div class="form-group row flexvariety-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Variety </label>
			</div>
			<div class="col-xs-6">
			<p class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
					<select class="form-control" name="textinput" ng-model="variety">
						<option value="Vegetables">Vegetables </option>   
						<option value="Fruits">Fruits</option> 
						<option value="Animal">Animal products </option>   
						<option value="Milk">Milk based products</option> 
			 
					</select>             
				</p>
			</div> 
		</div>
	
		

		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">username</label>
			</div>
			<div class="col-xs-6">
			<p class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control"  required name="textinput" 
					ng-model="username" placeholder="username" required="required">             
				</p>
			</div> 
		</div>
		
		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">password</label>
			</div>
			<div class="col-xs-6">
			<p class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="password" class="form-control"  required name="textinput" 
					ng-model="password" placeholder="password" required="required" >
					
				
					            
				</p>
			</div> 
		</div>	

		<div class="form-group">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
			<button type="submit" name="registration" class="btn btn-warning login-btn btn-block" 
			ng-click="addfarmer()"" >Add Farmer 
			<span class="glyphicon glyphicon-send"></span></button>
			</div><div class="col-sm-4"><input type="reset" class="btn btn-danger" value="clear"></div>
		</div>
		</div> 
		</form>
	</div>
	</div>
	</div>