	<div class="container container-fluid">
	
	<form>
			<div class="well">
		<h2>Farmer Registration  form </h2>
		<hr>
	
		<div class="row">
		<div class="col-sm-3"></div><div class="col-sm-1">
		<label for="party">Email: </label></div><div class="col-sm-5">
		<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input id="email" type="text" class="form-control" name="email" placeholder="Email">
			</div>
		</div><div class="col-sm-3"></div>
		</div>

		<div class="row">
		<label for="party">Email:     </label></br>
		<input type="email"class="form-control"  name="Email" placeholder="Enter Your Email" required></br>
		<label for="party">Address:   </label></br>
		<input type="text" class="form-control"  name="Address" placeholder="Enter Your Address" required></br>
		
		<label for="party">Mobile Number :</label></br>
		<input type="text" class="form-control"  name="" placeholder="Enter Your Number" required></br>
		<label for="party">Nic :</label></br>
		<input type="text" class="form-control"  name="" placeholder="Enter Your Nic" required></br>
		<label for="party">Occupation :</label></br>
		<input type="text" class="form-control"  name="" placeholder="Occupation" required></br>
		
    	
		<br>
		<label for="party">Category:
		<select name="Full Time" class="form-control"  >
			<option>Full Time</option>
			<option>Part Time</option>
			
		</select>
		
		<br><br>
		<label for="party">Male/Female:
		<select name="Male" class="form-control" >
			<option>Male</option>
			<option>Female</option>
			
		</select>
		<label for="party">Select Product type:</label>
		<select name="Vegitable" mutiple size="=2" class="form-control" >
			<option>Vegitable</option>
			<option>Beans</option>
			<option>Animal Product</option>
		</select></br>
		<input type="checkbox" class="form-control" > O/L
		<input type="checkbox" class="form-control" > A/L</br>
		<label for="party">Note :</label></br>
		<input type="text" name="" class="form-control" ></br>
	</br>
		<input type="checkbox" required class="form-control" > I Agree to the Terms of Use
		<input type="submit" value="Submit Now" class="form-control" >
	</form>

</div>