 <head>
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <script src="jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="angular.min.js"></script>
      <script src="angular-route.js"></script>
      <script src ="controller.js"></script> 
</head>


<hr>
<div ng-controller="loginbuttonctrl">
      <!-- <center><img src="images/logo2.png" width="150" height="150"></center><hr> -->
      <div class="row">
      <div class="col-lg-4"></div><div class = "col-lg-4"><button type="button" class="btn btn-success btn-sq-lg btn-block" ng-click="admin()">
      <i class="fa fa-user fa-3x"></i><br/>Admin</button></div>
      <div class = "col-lg-4"></div>
      </div>
      <div class="row">
      <div class="col-lg-4"></div><div class = "col-lg-4"><button type="button" class="btn btn-warning btn-sq-lg btn-block"  ng-click="farmshop()">
      <i class="fa fa-credit-card fa-3x"></i><br/>Farm Shop</button></div><div class = "col-lg-4"></div>
      </div>

      <hr>
      

</div>

<!--<div>
<div class ="well">
<div class="col-lg-4"></div><div class = "col-lg-4"><a type="button" class="btn btn-active btn-lg btn-block" href="invoice.php"><span class="glyphicon glyphicon-shopping-cart"></span> Point of Sale</a></div><div class = "col-sm-4"></div></div>
</div>-->




  
