
<div ng-controller="RegisterCashierController" class="container" ng-init="displayData2()">
 
<div ng-controller="Admincontroller"> 
<button class="btn btn-default" ng-click="showAdmin()">Back</button>
</div>



<center><h2>
    <b>Cashier Member Registration</b></h2></center>
<hr>

<div class="container container-fluid">
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 col-lg-8"> 


<form method="POST"> 
    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">EmpID :</label>
        </div>
        <div class="col-xs-6">
            <p class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" ng-disabled="all"  type="text" required  
                name="textinput" type="text" ng-model="id" placeholder="id">             
            </p>
        </div>
    </div>

    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">FirstName :</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  required name="textinput" type="text" ng-model="firstname" 
            placeholder="firstname" class="form-control">
                       
        </p>
        </div>
    </div>

    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">LastName :</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  required name="textinput" type="text" ng-model="lastname"
            placeholder="lastname" class="form-control">                
        </p>
        </div>
    </div>

    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Phone :</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            <input  required name="textinput" type="text" ng-model="phonenumber" 
            placeholder="phonenumber" class="form-control">
                 
        </p>
        </div>
    </div>

    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Email :</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input  required name="textinput" type="email" ng-model="email" 
            placeholder="email" class="form-control">
 
                 
        </p>
        </div>
    </div>

    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Salary :</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
            <input  required name="textinput" type="text" ng-model="salary" 
            placeholder="salary" class="form-control">
          
        </p>
        </div>
    </div>

    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Address :</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-paperclip"></i></span>
            <textarea class="form-control" placeholder="Address" required id="textarea" 
            ng-model="address" name="textarea"></textarea>
  
          
        </p>
        </div>
    </div>
    
    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Username :</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  required name="textinput" type="text" placeholder="username" 
            ng-model="username"class="form-control">    
        </p>
        </div>
    </div>


    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Password :</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input  required name="passwordinput" type="password" 
            placeholder="password" ng-model="password" class="form-control">
   
        </p>
        </div>
    </div>

    <div class="form-group row flex-v-center">
        <div class="col-xs-2 col-sm-4">
            <label for="from">Re-Enter :</label>
        </div>
        <div class="col-xs-6">
        <p class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input  required name="passwordinput2" type="password" 
            placeholder="re-enter password" ng-model="password2" class="form-control">
 
   
        </p>
        </div>
    </div>
    <input type="checkbox" ng-model="all">
  <button type="reset" value="clear" class="btn btn-danger">Clear</button>
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-sm-2"></div>
  <button  name="singlebutton" ng-click="Reg()" class="btn btn-primary btn-lg">
      <i class="fa fa-leaf fa-2x"></i><br/>Register</button>
  
  <button  name="singlebutton" ng-click=updateData() class="btn btn-warning btn-lg">Update</button>



<!--</fieldset>-->
</form>
</div>
</div>

<div class = "row">
<!--<div class ="col-md-2"></div>-->
<div  class = "col-md-12" class = style="width:500px;">  
                
                

<br /><br />  
<table class="table table-bordered">  
    <tr>  
        <th>Emp_Id</th>
        <th>First Name</th>  
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Address</th> 
        <th>Username</th>
        <th>Password</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>  
    <tr ng-repeat="x in names">
        <td>{{x.Id}}</td>
        <td>{{x.First_Name}}</td>  
        <td>{{x.Last_Name}}</td> 
        <td>{{x.Tele_Number}}</td>
        <td>{{x.Email}}</td>  
        <td>{{x.Salary}}</td>
        <td>{{x.Address}}</td>
        <td>{{x.Username}}</td>  
        <td>{{x.Password}}</td>
    
        <td><button ng-click="updateDataAdmin(x.Id,x.First_Name, x.Last_Name,x.Tele_Number,x.Email,x.Address,x.Salary,x.Username,x.Password)" class="btn btn-warning btn-xs">Update</button></td> 
        <td><button ng-click="deleteDataAdmin(x.Id )" class="btn btn-danger btn-xs">Delete</button></td> 
    </tr>  
</table>  
</div>  
</div>  
</div>
