<div ng-controller="AddCourseDetails">
	<div class="container container-fluid">
	  <div class="well">
	  <div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4 col-lg-8"> 
		<div ng-controller="Admincontroller"> 
		<button class="btn btn-default" ng-click="showAdmin()">Back</button></div>
		<h1>New Shop Registration</h1>
		<hr>  
	
		<form method="POST"> 
		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Shop ID</label>
			</div>
			<div class="col-xs-6">
			<!-- <label>First Name</label> -->
				<p class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control"  id="textinput" required name="textinput" 
					ng-model="Course_Id" placeholder="Shop Id">             
				</p>
			</div>
		</div>
	
		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Full Name</label>
			</div>
			<div class="col-xs-6">
			<p class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
				<input type="text" class="form-control" id="textinput" required name="textinput" 
				ng-model="Course_Name" placeholder="Full Name">             
			</p>
			</div>
		</div>
	
		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Email</label>
			</div>
			<div class="col-xs-6">
			<p class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				<input type="email" class="form-control" id="textinput" required name="textinput" 
				ng-model="Course_Name" placeholder="Email">             
			</p>
			</div>
		</div>
	
		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Address</label>
			</div>
			<div class="col-xs-6">
			<p class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
				<input type="text" class="form-control" id="textinput" required name="textinput" 
				ng-model="Course_Name" placeholder="Address">             
			</p>
			</div>
		</div>
	
	
		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Description</label>
			</div>
			<div class="col-xs-6">
			<p class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
					<input type="textarea" class="form-control" id="textinput" required name="textinput" 
					ng-model="Course_description" placeholder="description" required="required">             
				</p>
			</div> 
		</div>
	
		<div class="form-group row flex-v-center">
			<div class="col-xs-2 col-sm-4">
				<label for="from">Contact </label>
			</div>
			<div class="col-xs-6">
			<p class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
					<input type="text" class="form-control" id="textinput" required name="textinput" 
					ng-model="Course_fees" placeholder="Tel Number" required="required">             
				</p>
			</div> 
		</div>
	
		<div class="form-group row flex-v-center">
				<div class="col-xs-2 col-sm-4">
					<label for="from">Admin</label>
				</div>
				<div class="col-xs-6">
				<p class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" class="form-control" id="textinput" required name="textinput" 
						ng-model="location" placeholder="Admin" required="required">             
					</p>
				</div> 
			</div>

		

		<div class="form-group">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
			<button type="submit" name="registration" class="btn btn-warning login-btn btn-block" 
			ng-click="addCourse()">Create Shop 
			<span class="glyphicon glyphicon-send"></span></button>
			</div><div class="col-sm-4"><input type="reset" class="btn btn-danger" value="clear"></div>
		</div>
		</div> 
		</form>
	</div>
	</div>
	</div>