<div class="container container-fluid">
	<form>
		<h2>Shop Registration  form </h2>
		<label for="party">Shop Name: </label></br>
		<input type="text" name="Name" placeholder="Enter Your Shop Name" required> </br>
		<label for="party">Email:     </label></br>
		<input type="email" name="Email" placeholder="Enter Your Office Email" required></br>
		<label for="party">Address:   </label></br>
		<input type="text" name="Address" placeholder="Enter Address" required></br>
		
		<label for="party">Office Tel Number :</label></br>
		<input type="text" name="" placeholder="Enter Your Number" required></br>
		<label for="party">Shop Owner :</label></br>
		<input type="text" name="" placeholder="Enter Your Name" required></br>
		<label for="party">Shop Owner's Nic :</label></br>
		<input type="text" name="" placeholder="Enter Your Nic" required></br>
		
    	
		<br>
		<label for="party">Category:
		<select name="Full Time" >
			<option>Full Time</option>
			<option>Part Time</option>
			
		</select>
		
		<br><br>
		
		<label for="party">Select Product type:</label>
		<select name="Vegitable" mutiple size="=2">
			<option>Vegitable</option>
			<option>Beans</option>
			<option>Animal Product</option>
		</select></br>
		
		<label for="party">Note :</label></br>
		<input type="text" name=""></br>
	</br>
		<input type="checkbox" required> I Agree to the Terms of Use
		<input type="submit" value="Submit Now">
	</form>

</div>