<div class ="container " ng-controller="RegShopOrderController">
<div class="col-md-5 ">
    <br><br>
    <ul class="list-group">
  <li class="list-group-item">Massage for ......</li>

  
  <li class="list-group-item list-group-item-warning"><b>SHOP ID --></b> {{order_Mail_shopid}}</li>
  
  <li class="list-group-item list-group-item-light"><b>ORDER NUMBER --></b> {{order_Mail_ordernumber}}</li>
 
  <li class="list-group-item list-group-item-warning"><b>ITEM CODE --></b> {{order_Mail_code}}</li>
 
  <li class="list-group-item list-group-item-light"><b>ITEM NAME --></b> {{order_Mail_name}}</li>
  
  <li class="list-group-item list-group-item-warning"><b>AMOUNT --> </b>{{order_Mail_amount}}</li>

  <li class="list-group-item list-group-item-light"><b>DATE --></b> {{order_Mail_date}}</li>
</ul>
</div>
<div class="modal-dialog col-md-7"  >

<div class="modal-content">
<div class="modal-header">

<button type="button" class="close" data-dismiss="modal">×</button>
<h4 class="modal-title">Massage View</h4>

</div>

<div class="modal-body">

       <form action="sendMail\mailpphpp\mail.php" method="post">
        <input type="hidden" name="nic" value={{order_Mail_shopid}}>
         <input type="hidden" name="ordernum" value={{order_Mail_ordernumber}}>
          <input type="hidden" name="code" value={{order_Mail_code}}>
           <input type="hidden" name="name" value={{order_Mail_name}}>
            <input type="hidden" name="amount" value={{order_Mail_amount}}>
             <input type="hidden" name="date" value={{order_Mail_date}}>

        <div class="form-group">
            <label for="name">
                Title:</label>
            <input type="text" class="form-control"
            id="name" name="subject" placeholder="Title .... "  required maxlength="50">

        </div>
        
        <div class="form-group">
            <label for="name">
                Message:</label>
            <textarea class="form-control" type="textarea" name="message"
            id="message" placeholder="Your Message Here"
            maxlength="6000" rows="7"></textarea>
        </div>
        <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs">Send→</button>

    </form>
   
</div>

</div>

 </div>
</div>